@import "tailwindcss";

:root {
  @theme {
    --color-background: #f5f2ea;
    --color-primary: #171512;
    --color-secondary: #777269;
    --color-accent: #8a6a3f;
    --color-borders: #ddd8cd;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--color-background);
  color: var(--color-primary);
  overflow: hidden;
  height: 100%;
  width: 100%;
}
